body{
    background-image: url("../_ressources/images/background-mars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#first,#second,#third{
    width: 33%;
    margin: 50px 20px 50px;
}

#first {
    margin-top: 43px;
}

#second {
    background-image: url("../_ressources/images/start.jpeg");
    background-size: contain;
    min-width: 600px;
    max-width: 600px;
    min-height: 850px;
    max-height: 850px;
}

#third {
    display: flex;
    flex-direction: column;
    margin-top: 43px;
}

#palmares{
    flex-direction: column;
}

.player{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px;
}

#plus a h2{
    margin-top: 50px;
    align-self: flex-end;
    border-color: white;
    border-style: solid;
    padding: 25px 25px;
    width: max-content;
    color: white;
}

#plus a{
    text-decoration: none;
}

#plus a h2:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#plus a h2:active{
    background-color: rgba(255, 255, 255, 0.7);
}

#space{
    font-size: 15px;
    width: 30px;
    border-color: white;
    border-style: solid;
    flex-shrink:
}
